.container {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    word-break: break-word;
}
.container div {
    width: auto;
    padding: 5px;
    margin: 10px;
    text-align: center;
    word-break: normal;
    border-style: solid;
}
.newbookdiv {
    text-align: center;
    margin: 10px;
}
.newbookdiv input {
    margin: 5px;
}





